<ion-view view-title="Camera">
	<ion-content class="has-header padding scroll">
		<div class="list">
			<form name="cameraForm">
				<div class="item">
					<button class="button button-block button-positive icon-left ion-camera" ng-click="takePicture()">
						Take Picture
					</button>
					<button class="button button-block button-positive icon-left ion-images" ng-click="getPicture()">Get Picture</button>
					<img ng-show="{{pictureURI !== undefined}}" ng-src="{{pictureURI}}">
				</div>
			</form>
		</div>
	</ion-content> 
</ion-view>