<div class="bar bar-header bar-stable">
	<img src="img/logo.svg">
	<button class="button button-arq pull-right" ng-click="back()" ng-show="!hideData">Voltar</button>
</div>

<ion-view view-title="Camera">
	<ion-content class="has-header" scroll="true" overflow-scroll="true" id="camera">
		<div class="list">
			<form name="submitPhoto">
				<div id="photoArea" ng-show="hideData">				
					<div class="padding clearfix">
						<button class="button button-arq icon ion-camera" ng-click="takePicture()">
						</button>
						<button class="button button-arq icon ion-images" ng-click="getPicture()"></button>
					</div>
					<div class="padding" id="image-upload" align="center">
						<img ng-if="!!imageURI" ng-src="{{imageURI}}">
					</div>
				</div>
				
				<div id="data" class="list" ng-show="!hideData">

					<div class="item item-divider">
						Informações obrigatórias
					</div>
					<label for="title" class="item item-input">
						<span class="input-label">Titulo*:</span>
						<input id="title" ng-model="data.title" type="text" ng-minlength="5" required/>
					</label>

					<label for="author" class="item item-input">
						<span class="input-label">Autor*:</span>
						<input id="author" ng-model="data.author" type="text" ng-minlength="5" required/>
					</label>

					<label for="country" class="item item-input">
						<span class="input-label">País*:</span>
						<input id="country" ng-model="data.country" type="text" ng-minlength="5" required/> 
					</label>

					<!-- <label for="tags" class="item item-input">
						<span class="input-label">Tags*:</span>
						<select id="tags" ng-model="data.tags" ng-change="showTags(data.tags)" multiple="true" required>
							<option ng-repeat="tag in tags" ng-value="tag.name">{{tag.name}}</option>
						<select>
					</label> -->
					
					<div id="input-tag">
						<label class="item item-input">
							<div>
								<span class="input-label">Tags*:</span>
								<!-- se eu coloco o grupo de botoes aqui, eles param de responder corretamente-->						
							</div>						
						</label>
						<div id="tag-buttons">
							<button class="button button-small button-arq button-shy" modal-select ng-model="teste" options="tags" modal-title="Selecione uma Tag" has-search="true" on-select="getTag(newValue, oldValue)">
								    Selecionar
								    <div class="option">
								        {{option.name}}
								    </div>
								</button>
							<button id="meuNome" class="button button-small button-arq button-shy" ng-click="addTag()">Adicionar</button>
							<button class="button button-small button-assertive icon-right ion-close" ng-repeat="tag in data.tags" ng-click="removeTag(tag)">{{tag}}</button>
						</div>
					</div>

					<div class="item item-divider" ng-show="!showAditional" ng-click="toggle()">Informações opcionais<i class="ion-plus"></i></div>
					<div class="item item-divider" ng-show="showAditional" ng-click="toggle()">Informações opcionais<i class="ion-minus"></i></div>
					<div id="aditionalInfo" class="slideAnimation" ng-show="showAditional">
						<label for="state" class="item item-input">
							<span class="input-label">Estado:</span>
							<select id="state" ng-model="data.state">
								<option value="">Escolha o Estado</option>
								<option value="AC">Acre</option>
								<option value="AL">Alagoas</option>
								<option value="AM">Amazonas</option>
								<option value="AP">Amapa</option>
								<option value="BA">Bahia</option>
								<option value="CE">Ceara</option>
								<option value="DF">Distrito Federal</option>
								<option value="ES">Espirito Santo</option>
								<option value="GO">Goias</option>
								<option value="MA">Maranaho</option>
								<option value="MG">Minas Gerais</option>
								<option value="MS">Mato Grosso do Sul</option>
								<option value="MT">Mato Grosso</option>
								<option value="PA">Para</option>
								<option value="PB">Paraiba</option>
								<option value="PE">Pernambuco</option>
								<option value="PI">Piaui</option>
								<option value="PR">Parana</option>
								<option value="RJ">Rio de Janeiro</option>
								<option value="RN">Rio Grande do Norte</option>
								<option value="RO">Rondonia</option>
								<option value="RR">Roraima</option>
								<option value="RS">Rio Grande do Sul</option>
								<option value="SC">Santa Catarina</option>
								<option value="SE">Serguipe</option>
								<option value="SP">Sao Paulo</option>
								<option value="TO">Tocantins</option>
							</select>
						</label>

						<label for="city" class="item item-input">
							<span class="input-label">Cidade:</span>
							<input id="city" ng-model="data.city" type="text"/> 
						</label>

						<label for="district" class="item item-input">
							<span class="input-label">Bairro:</span>
							<input id="district" ng-model="data.district" type="text"/> 
						</label>

						<label for="address" class="item item-input">
							<span class="input-label">Endereco:</span>
							<input id="address" name="address" ng-model="data.address" type="text"/> 
						</label>

						<label for="imageDate" class="item item-input">
							<span class="input-label">Data da Imagem:</span>
							<input id="imageDate" name="imageDate" ng-model="data.imageDate" type="date"/>
						</label>

						<label for="workAuthor" class="item item-input">
							<span class="input-label">Autor da Obra:</span>
							<input id="workAuthor" name="workAuthor" ng-model="data.workAuthor" type="text"/>
						</label>

						<label for="workYear" class="item item-input">
							<span class="input-label">Ano de conclusao da obra:</span>
							<input id="workYear" name="workYear" ng-model="data.workYear" type="text"/>
						</label>

						<label for="description" class="item item-input">
							<span class="input-label">Descricao:</span>
							<textarea id="description" name="description" ng-model="data.description"></textarea> 
						</label>
					</div>
					
					<div class="item item-divider">
						Escolho a licenca <a id="creative_commons" href="http://creativecommons.org/licenses//?lang=pt-BR" target="_blank" style="text-decoration: undeline; line-height=1.em;">Creative Commons</a>, para publicar a imagem, com as seguintes permissoes:
					</div>	
					
					<div class="item item-divider item-divider-light">
						Permitir o uso comercial da imagem?
					</div>
					<div>
						<ion-radio name="comercialUsage" ng-model="data.commercialUsage" ng-value="true">Sim</ion-radio>
						<ion-radio name="comercialUsage" ng-model="data.commercialUsage" ng-value="false">Nao</ion-radio>
					</div>

					<div class="item item-divider item-divider-light">
						Permitir modificacoes em sua imagem?
					</div>
					<div>
						<ion-radio name="modifications" ng-model="data.modifications" ng-value="'yes'">Sim</ion-radio>
						<ion-radio name="modifications" ng-model="data.modifications" ng-value="'yes_sa'">Sim, contanto que os outros compartilhem de forma semelhante</ion-radio>
						<ion-radio name="modifications" ng-model="data.modifications" ng-value="'no'">Nao</ion-radio>
					</div>

					<div class="item item-divider item-divider-light">
						&nbsp;
					</div>
					<ion-checkbox class="item-text-wrap" ng-model="data.authorized">* Sou o autor da imagem ou possuo permissão expressa do autor para disponibilizá-la no Arquigrafia</ion-checkbox>

					<div class="item item-divider item-divider-light">
						&nbsp;
					</div>
					<div class="item item-error">* Campos obrigatorios</div>
					<div class="item item-error" ng-show="submitPhoto.title.$error.minlength && submitPhoto.title.$touched">
						<i class="ion-information-circled"></i>
						Titulo precisa ter 5 ou mais caracteres
					</div>

					<div class="item item-error" ng-show="submitPhoto.author.$error.minlength && submitPhoto.author.$touched">
						<i class="ion-information-circled"></i>
						Nome do autor precisa ter 5 ou mais caracteres
					</div>

					<div class="item item-error" ng-show="submitPhoto.country.$error.minlength && submitPhoto.country.$touched">
						<i class="ion-information-circled"></i>
						Pais precisa ter 5 ou mais caracteres
					</div>

					<div class="item item-error" ng-show="submitPhoto.tags.$error.minlength && submitPhoto.tags.$touched">
						<i class="ion-information-circled"></i>
						Tags precisam ter 5 ou mais caracteres
					</div>

					<div class="item item-error" ng-show="!(!!imageURI)">
						<i class="ion-information-circled"></i>
						Selecione uma imagem
					</div>

					<div class="padding">
						<button class="button button-block button-arq button-inverted" ng-click="postPhoto()" ng-disabled="submitPhoto.$invalid || !(!!imageURI)">Enviar</button>
					</div>
				</div>
			</form>
		</div>
	</ion-content> 
</ion-view>