<ion-view view-title="Camera">
	<ion-content class="has-header padding scroll">
		<div class="list">
			<form name="submitPhoto" ng-submit="postPhoto()">
				<div class="padding">
					<button class="button button-positive icon-left ion-camera" ng-click="takePicture()">
						Tirar Foto
					</button>
					<button class="button button-positive icon-left ion-images" ng-click="getPicture()">Escolher Foto</button>
				</div>
				<div class="padding">
					<img width="150" height="150" ng-if="!!imageURI" ng-src="{{imageURI}}">
				</div>

				<input type="hidden" ng-value="imageURI" required/>
				<label for="title" class="item item-input">
					<span class="input-label">Titulo*:</span>
					<input id="title" name="title" ng-model="data.title" type="text" ng-minlength="5" required/>
				</label>

				<label for="author" class="item item-input">
					<span class="input-label">Autor*:</span>
					<input id="author" name="author" ng-model="data.author" type="text" ng-minlength="5" required/>
				</label>

				<label for="country" class="item item-input">
					<span class="input-label">País*:</span>
					<input id="country" name="country" ng-model="data.country" type="text" ng-minlength="5" required/> 
				</label>

				<label for="tags" class="item item-input">
					<span class="input-label">Tags*:</span>
					<input id="tags" name="tags" ng-model="data.tags" type="text" ng-minlength="5" required/>
				</label>

				<div class="padding" style="color:#F00;">
					<p>* Campos obrigatorios</p>

					<p ng-show="submitPhoto.title.$error.minlength && submitPhoto.title.$touched">! Titulo precisa ter 5 ou mais caracteres</p>

					<p ng-show="submitPhoto.author.$error.minlength && submitPhoto.author.$touched">! Nome do autor precisa ter 5 ou mais caracteres</p>

					<p ng-show="submitPhoto.country.$error.minlength && submitPhoto.country.$touched">! Pais precisa ter 5 ou mais caracteres</p>

					<p ng-show="submitPhoto.tags.$error.minlength && submitPhoto.tags.$touched">! Tags precisam ter 5 ou mais caracteres</p>
				</div>
				<div class="padding">
					<button class="button button-positive" type="submit" ng-disabled="submitPhoto.$invalid">Enviar</button>
					<button class="button button-positive" type="clear">Limpar</button>
				</div>
			</form>
		</div>
	</ion-content> 
</ion-view>