<div class="bar bar-header bar-stable">
    <h1 class="title"><img class="title-image" src="img/logo-mini.png" height="18"/>  Arquigrafia</h1>
</div>
<ion-view view-title="Login" name="login-view">
  <ion-content class="padding has-header">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Usuário" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Senha" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Entrar</button>
      <button class="button button-clear button-positive button-block" ng-click="cadastro()">Cadastre-se</button>
  </ion-content>
</ion-view>