<div class="bar bar-header">
  	<img src="img/logo.svg">
</div>
<ion-view view-title="Feed">
	<ion-content class="has-header" id="feed">
		<ion-refresher
    		pulling-text="Puxe e solte para atualizar..."
    		on-refresh="doRefresh()">
  		</ion-refresher>

    	<ion-list>
      		<ion-item class="item-remove-animate feed-item" ng-repeat="photo in photos" type="item-text-wrap" href="#/tab/feed/photos/{{photo['photo'].id}}">
            <div class="list card">
              <div class="item item-avatar">
                <img src="{{serverName + photo['sender'].photo}}" ng-if="!!photo['sender'].photo">
                <img src="img/avatar-60.png" ng-if="!photo['sender'].photo&&!photo['photo'].institution_id">
                <img src="img/avatar-institution.png" ng-if="!photo['sender'].photo&&!!photo['photo'].institution_id">
                <h2>{{photo['sender'].name}}</h2>
                <p>{{photo['sender'].country}}</p>
              </div>
              <div ng-if=" photo['photo'].type === null || photo['photo'].type === 'photo' " class="item item-image">
                <img src="{{serverName + '/arquigrafia-images/' + photo['photo'].id + '_home.jpg'}}" />
              </div>
              <div ng-if=" photo['photo'].type === 'video' " style="position: relative"  class="item item-image">
                <img src="/img/play.png" class="play-button" />
                <img src="{{photo['photo'].nome_arquivo}}" style="width: 100%" />
              </div>
              <h2 class="item item-icon-left item-text-wrap" href="#">
                {{photo['photo'].name}}
              </h2>
                          </div>
            </div>
      		</ion-item>
    	</ion-list>
    	<ion-infinite-scroll
  			on-infinite="loadMoreData()"
  			distance="5%"
  			immediate-check="false"
  			ng-if="moreDataCanBeLoaded">
		</ion-infinite-scroll>
  	</ion-content>
</ion-view>
