<ion-view view-title="Account">
  <ion-content>
    <div id="personalInfo">
    	<h3>Personal Information</h3>
    	<img src="{{serverName + account.photo}}" style="float:right">
    	<p>Name: {{account.name}}</p>
    	<p>Last Name: {{account.lastName}}</p>
    	<p>E-mail: {{account.email}}</p>
    	<p>Site: {{account.site}}</p>
    	<p>Login: {{account.login}}</p>
    	<p>Gender: {{account.gender}}</p>
    	<p>Birthday: {{account.birthday}}</p>
    	<p>Address: {{account.address}}</p>
    	<p>City: {{account.city}}</p>
    	<p>State: {{account.state}}</p>
    	<p>Country: {{account.country}}</p>
    </div>
  </ion-content>
</ion-view>
