<div class="bar bar-header">
    <img src="img/logo.svg">
</div>
<ion-view view-title="Perfil">
  <ion-content class="has-header" id="account">
    <ion-refresher
        pulling-text="Puxe e solte para atualizar..."
        on-refresh="doRefresh()">
    </ion-refresher>
    <div id="personal-info">
        <div class="row" id="info-container">
            <div id="user-avatar" class="col col-20">
                <div id="avatar-image">
                    <img src="{{serverName + account.photo}}" ng-if="!!account.photo">
                    <img src="img/avatar-60.png" ng-if="!account.photo">
                </div>
                <p><a id="logout-button" ng-click="logout()">Sair</a></p>
            </div>
            <div id="user-info" class="col col-80">
                <h4 id="account-name">{{account.name}}</h4>
                <p><span>{{account.photos}}</span> fotos</p>
                <p><span>{{account.following}}</span> seguindo</p>
                <p><span>{{account.followers}}</span> seguidores</p>
            </div>
        </div>
        <div class="button-bar button-light">
            <a class="button active" id="showUploads" ng-click="showUploads()">Fotos</a>
            <a class="button" id="showEvaluations" ng-click="showEvaluations()">Impressões</a>
        </div>
        <div class="row" id="photos-container">
            <ion-list id="uploads">
                <div class="row" ng-if="!photos.length">
                    <div class="col text-center">Você não enviou fotos ainda.</div>
                </div>
                <ion-item ng-if=" photo.type === null || photo.type === 'photo' " class="item-remove-animate feed-item" ng-repeat="photo in photos" type="item-text-wrap" href="#/tab/account/photos/{{photo.id}}">
                  <img src="{{serverName + '/arquigrafia-images/' + photo.id + '_home.jpg'}}">
                </ion-item>
                <ion-item style="position: relative;" ng-if=" photo.type === 'video' " class="item-remove-animate feed-item" ng-repeat="photo in photos" type="item-text-wrap" href="#/tab/account/photos/{{photo.id}}">
                  <img src="/img/play.png" class="play-button-small" />
                  <img src="{{photo.nome_arquivo}}" style="width: 100%; height: 125px" />
                </ion-item>
            </ion-list>
            <ion-list id="evaluations" style="display: none">
                <div class="row" ng-if="!evaluations.length">
                    <div class="col text-center">Você não registrou impressões ainda.</div>
                </div>
                <ion-item class="item-remove-animate feed-item" ng-repeat="photo in evaluations" type="item-text-wrap" href="#/tab/account/photos/{{photo.id}}">
                  <div ng-if=" photo.type === 'image' ">
                    <img src="{{serverName + '/arquigrafia-images/' + photo.id + '_home.jpg'}}">
                  </div>
                  <div ng-if=" photo.type === 'video' ">
                    <img src="/img/play.png" class="play-button" />
                    <img src="{{ photo.nome_arquivo }}" />
                  </div>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <ion-infinite-scroll
        on-infinite="loadMorePhotos()"
        distance="5%"
        immediate-check="false"
        ng-if="moreUploadsCanBeLoaded&&uploadsShowing">
    </ion-infinite-scroll>
    <ion-infinite-scroll
        on-infinite="loadMoreEvaluations()"
        distance="5%"
        immediate-check="false"
        ng-if="moreEvaluationsCanBeLoaded&&evaluationsShowing">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
