<div class="bar bar-header bar-stable">
    <h1 class="title"><img class="title-image" src="img/logo-mini.png" height="18"/>  {{account.login}}</h1>
</div>
<ion-view view-title="Perfil">
  <ion-content class="has-header">
    <ion-refresher
        pulling-text="Puxe e solte para atualizar..."
        on-refresh="doRefresh()">
    </ion-refresher>
    <div id="personal-info">
        <div class="row" id="info-container">
            <div id="user-avatar" class="col col-40">
                <h4 id="account-name">{{account.name}}</h4>
                <img src="{{serverName + account.photo}}" ng-if="!!account.photo">
                <img src="img/avatar-60.png" ng-if="!account.photo">
            </div>
            <div id="user-info" class="col col-60">
                <a href="#/tab/account/#">
                    <button class="button button-full button-positive button-clear">
                        <h4>Fotos publicadas: {{account.photos}}</h4>
                    </button>
                </a>
                <a href="#/tab/users/{{account.id}}/following">
                    <button class="button button-full button-positive button-clear">
                        <h4>Seguindo: {{account.following}}</h4>
                    </button>
                </a>
                <a href="#/tab/users/{{account.id}}/followers">
                    <button class="button button-full button-positive button-clear">
                        <h4>Seguidores: {{account.followers}}</h4>
                    </button>
                </a>
                <button id="logout-button" class="button-block button button-positive" ng-click="logout()">
                    Logout
                </button>
            </div>
        </div>
        <div class="button-bar button-light">
            <a class="button" ng-click="showUploads()">Fotos</a>
            <a class="button" ng-click="showEvaluations()">Impressões</a>
        </div>
        <div class="row" id="photos-container">
            <ion-list id="uploads">
                <ion-item class="item-remove-animate feed-item" ng-repeat="photo in photos" type="item-text-wrap" href="#/tab/account/photos/{{photo.id}}">
                    <img src="{{serverName + '/arquigrafia-images/' + photo.id + '_home.jpg'}}">
                </ion-item>
            </ion-list>
            <ion-list id="evaluations">
                <ion-item class="item-remove-animate feed-item" ng-repeat="photo in evaluations" type="item-text-wrap" href="#/tab/account/photos/{{photo.id}}">
                    <img src="{{serverName + '/arquigrafia-images/' + photo.id + '_home.jpg'}}">
                </ion-item>
            </ion-list>
        </div>
    </div>
    <ion-infinite-scroll
        on-infinite="loadMorePhotos()"
        distance="5%"
        immediate-check="false"
        ng-if="moreUploadsCanBeLoaded&&uploadsShowing">
    </ion-infinite-scroll>
    <ion-infinite-scroll
        on-infinite="loadMoreEvaluations()"
        distance="5%"
        immediate-check="false"
        ng-if="moreEvaluationsCanBeLoaded&&evaluationsShowing">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
