/* Welcome page */

#welcome-content .scroll, #welcome-content .row {
	height: 100%;
}

/* Account tab */

#account-name {
	text-align: center;
}

#personal-info div #user-avatar img {
	width: inherit;
}

#personal-info .row {
	padding-left: 0px;
	padding-right: 0px;
}

#user-info {
	display: flex;
    flex-direction: column;
}

#user-info button {
	flex: 1;
	margin: 0px;
}

#user-info a {
	text-decoration: none;
}

#user-info h4 {
	text-align: center;
	font-weight: normal;
}

#logout-button {
	text-align: center;
}

#photos-container ion-list {
	width: 100%;
}

#photos-container ion-list .list ion-item {
	width: 33.3333%;
    display: inline-block;
}

#photos-container ion-list .list ion-item .item-content {
	padding: 0px;
}

#photos-container ion-list .list ion-item img {
	width: 100%;
}

#evaluations {
	display: none;
}

/* Follow list */

.user-follow-list h2 {
	position: relative;
	left: 5em;
}

/* Photo detail */

.avatar-row .avatar-col h4 {
	margin: auto;
}

#evaluation-container {
	display: none;
}

#evaluation-average-container {
	display: none;
}

/* Feed tab */

.img-row .img-col img {
	width: 100vw;
	height: 100vw;
}

.avatar-row .avatar-col img {
	border-radius: 100%;
	float: left;
	height: inherit;
}

.avatar-col {
	position: relative;
}

.avatar-row .avatar-col h4 {
	position: absolute;
    bottom: 40%;
    left: 18%;
    font-size: medium;
}

.img-row .img-col h3 {
	text-align: center;
	padding: 10px; 
}

.img-row, .img-col, .avatar-row, .avatar-col {
	padding-left: inherit;
	padding-right: inherit;
}

.avatar-row, .avatar-col {
	padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
}

a.item-content { 
    padding-left: 0px !important;
    padding-right: 0px !important;
}