/* Account tab */

#account-name {
	text-align: center;
}

#user-avatar {
	width: inherit;
}

#user-info h4 {
	text-align: center;
	font-weight: normal;
}

#logout-button {
	text-align: center;
}

/* Feed tab */

.img-row .img-col img {
	width: inherit;
}

.avatar-row .avatar-col img {
	border-radius: 100%;
}

/*.feed-item h4 {
	text-align: center;
}

.feed-item img {
	width: 92vw;
	height: 75vh;
}

.avatar-bar {
	width: 92vw;
	height: 55px;
	padding: 5px;
	border-top: solid black 1px;
	border-left: solid black 1px;
	border-right: solid black 1px;
}*/