/* Account tab */

#account-name {
	text-align: center;
}

#user-avatar {
	width: inherit;
}

#user-info h4 {
	text-align: center;
	font-weight: normal;
}

#logout-button {
	text-align: center;
}

/* Feed tab */

.img-row .img-col img {
	width: 100vw;
	height: 100vw;
}

.avatar-row .avatar-col img {
	border-radius: 100%;
	float: left;
	height: inherit;
	width: 60px;
}

.avatar-col {
	position: relative;
}

.avatar-row .avatar-col h4 {
	position: absolute;
    bottom: 40%;
    left: 30%;
    font-size: medium;
}

.img-row .img-col h3 {
	text-align: center;
	padding: 10px; 
}

.img-row, .img-col, .avatar-row, .avatar-col {
	padding-left: inherit;
	padding-right: inherit;
}

a.item-content { 
    padding-left: 0px !important;
    padding-right: 0px !important;
}